body {
  font-family: Arial;
  text-align: center;
  background: #a24848;
}

.container {
  margin-top: 50px;
}

.card {
  background: rgb(190, 120, 169);
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(91, 77, 77);
}

.hidden {
  display: none;
}

button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

input {
  margin: 10px;
  padding: 8px;
  width: 200px;
  
}